<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CaminhoDllDeMapeamento" value="/../../bin/Debug/Mapping.dll" />
    <add key="AmbienteDeConfiguracao" value="Testes" />
    <add key="Conexao" value="Data Source=.\sqlexpress; Initial Catalog=Test; User Id=sa; Password=123456" />
  </appSettings>
</configuration>